// Internal fonts
@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-weight: 800;
  src: url('../font/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  src: url('../font/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
  src: url('../font/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans-Medium';
  font-weight: 500;
  src: url('../font/OpenSans-Medium.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Light';
  font-weight: 300;
  src: url('../font/OpenSans-Light.ttf');
}

// External fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$Roboto: 'Roboto', sans-serif;
$Bebas: 'Bebas Neue', cursive;
$NotosansJP: 'Noto Sans JP', sans-serif;
